@model IEnumerable<BookAuthorMvcCore_16052022.Models.Entities.Concrete.Book>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.PageNumber)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Statu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PageNumber)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Statu)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.ID">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
